# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.vsidx
*.lock
*.db-shm
*.opendb
*.ipch
*.ipch
*.bin
*.db-journal
*.db-wal
*.db-wal
*.filters
*.user
*.user
*.idb
*.pdb
*.lastbuildstate
*.log
*.log
*.recipe
*.ilk
*.tlog
TempClient/x64/Debug/TempClient.vcxproj.FileListAbsolute.txt
*.iobj
*.ipdb
TempServer/x64/Debug/TempServer.vcxproj.FileListAbsolute.txt
.svn/entries
.svn/format
BBEnginePrototype/.vs/BBEnginePrototype/v17/.suo
BBEnginePrototype/obj/x64/Debug/BBEnginePrototype.vcxproj.FileListAbsolute.txt
BBEnginePrototype/StructLayoutSettings.json
*.vcxproj
/.svn/pristine
/TableConverter
/TempClient/genCpp
/TempClient/genCsv
/TempServer/genCpp
/TempServer/genCsv
/3rdparty/asio/doc/asio/examples
/3rdparty/asio/doc/asio/tutorial
/3rdparty/asio/doc/examples/diffs
/3rdparty/asio/doc
/3rdparty/asio/src/examples
/3rdparty/asio/src/tests
/3rdparty/csv-parser-master/docs/source
/3rdparty/csv-parser-master/programs
/3rdparty/csv-parser-master/modules
/3rdparty/csv-parser-master/include
/3rdparty/csv-parser-master/tests
/3rdparty/csv-parser-master/single_include_test
/3rdparty/csv-parser-master/single_header.py
/3rdparty/csv-parser-master/README.md
/3rdparty/csv-parser-master/Makefile
/3rdparty/csv-parser-master/LICENSE
/3rdparty/csv-parser-master/Doxyfile
/3rdparty/csv-parser-master/cpp.hint
/3rdparty/csv-parser-master/CodeCoverage.cmake
/3rdparty/csv-parser-master/codecov.yml
/3rdparty/csv-parser-master/CMakeSettings.json
/3rdparty/csv-parser-master/CMakeLists.txt
/3rdparty/csv-parser-master/.travis.yml
/3rdparty/csv-parser-master/.gitmodules
/3rdparty/csv-parser-master/.gitignore
/3rdparty/csv-parser-master/.gitattributes
/3rdparty/nanodbc-2.14.0/example
/3rdparty/nanodbc-2.14.0/doc
/3rdparty/nanodbc-2.14.0/CMakeFiles
/3rdparty/nanodbc-2.14.0/.github
/3rdparty/nanodbc-2.14.0/.circleci
/3rdparty/nanodbc-2.14.0/test
/3rdparty/SDL2/docs
/3rdparty/SDL2/cmake
/3rdparty/spdlog-1.x/example
/3rdparty/spdlog-1.x/cmake
/3rdparty/spdlog-1.x/bench
/3rdparty/spdlog-1.x/tests
